body{
    font-family: arial, sans-serif;
    margin: 0;
    padding: 0;
}

.products h2{
    text-align: center;
    text-transform: uppercase;
}

.menu {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 256px;
    background-color: #333;
    color: #fff;
    z-index: 1;
    transform: translateX(-100%);
    transition: transform 0.3s ease;
}

.menu nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.menu nav ul li {
    padding: 15px;
    border-bottom: 1px solid #444;
}

.menu nav ul li a {
    color: #fff;
    text-decoration: none;
}

.menu.is-open{
    transform: translateX(0);
}

.content {
    padding: 20px;
    transition: transform 0.3s ease;
}

.content.is-open{
    transform: translateX(256px);
}

.toggle-button {
    display: inline-block;
    margin: 20px;
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    cursor: pointer;
}

.toggle-button:hover{
    border-radius: 5px;
    background-color: darkgrey;
}

header{
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

.hero {
    background-image: linear-gradient(to bottom, #ffa500 , #ff9900);
    padding: 100px;
    text-align: center;
    color: #fff;
}

.hero button{
    background-color: #fff;
    color: #333;
    border: none;
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
}

.product{
    padding: 20px;
}

.product-grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

produt{
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ddd;
}

.product img{
    width: 60%;
    height: 150px;
    object-fit: cover;
}

.product h3{
    font-size: 18px;
    margin-top: 0;
}

.product p{
    font-size: 14px;
    color: #666;
}

.cart{
    padding: 20px;
}

.cart table{
    width: 100%;
    border-collapse: collapse;
}

.cart th, .cart td{
    border: 1px solid #ddd;
    padding: 10px;
    text-align: left;
}

.cart td:last-child{
    text-align: right;
}

#total{
    font-weight: bold;
}

#checkout{
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
}

footer{
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
    clear:both ;

}